.profile__edit-button{
    background: url(/images/Vector.edit.png);
    width: 24px;
    height: 24px;
    padding: 0;
    border: 2px solid #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;


}
@media screen and (max-width: 568px){
    .profile__edit-button{
        width: 18px;
        height: 18px; 

    } 


 }
