.profile{
    display: flex;
    font-family: 'Inter', Arial, sans-serif;
    max-width: 880px;
    position: relative;
    margin: 36.25px auto 47.25px;
}
@media screen and (max-width: 768px){
    .profile{
        flex-direction: column;
        margin: 38px auto 36px;
        
    } 


 }