.popup__input-name{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-top: 54px;
}
@media screen and (max-width: 568px){
    .popup__input-name{
        margin-top: 75px;
        font-size: 14px;
        line-height: 16.94px;

    }
        

 


 }