.profile__add-button {
    background: url(../../../images/Vector.png);
    width: 150px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    border: 2px solid #FFFFFF;
    align-self: center;
    margin-left: auto;

    cursor: pointer;

}

.profile__add-button:hover {
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .profile__add-button {
        position: static;
        margin-left: 0;
        width: 282px;
    }


}

@media screen and (max-width: 568px) {
    .profile__add-button {
        background: url(../../../images/Vector.mini.png);
        background-repeat: no-repeat;
        background-position: center;
        padding: 0;
        border: 2px solid #FFFFFF;
        
    }


}