.popup__close-button {
    background: url(/images/close.svg);
    width: 32px;
    height: 32px;
    padding: 0;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    position: absolute;
    right: -48px;
    top: -48px;




}
@media screen and (max-width: 568px){
    .popup__close-button{
        background: url(/images/Close\ Icon.svg);
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;




    } 


 }