.popup__close-button {
    background: url(/images/close.svg);
    width: 32px;
    height: 32px;
    padding: 0;
    object-fit: contain;
    border: none;
    position: absolute;
    right: -48px;
    top: -48px;




}