.elements__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 17px;
    margin: 0;


}

@media screen and (max-width: 886px) {
    .elements__list {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        


    }


}



 @media screen and (max-width: 677px) {
    .elements__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


} 