.profile__photo{
    border-radius: 50%;
    margin: 0;
    max-width: 120px;
    max-height: 120px;
    margin-right: 30px;
    
}
@media screen and (max-width: 688px){
    .profile__photo{
     align-self: center;
     margin: 0 auto 22.25px;
    } 


 }